apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-solace-rules
  namespace: monitoring
data:
  solace-rules.yaml: |
    groups:
    - name: solace.rules
      rules:
      - record: solace_message_lag
        expr: |
          sum(rate(solace_messages_published_total[1m]))
          -
          sum(rate(solace_messages_consumed_total[1m]))

